.hotauthor{
	width:100%;
	background: #fff;
    overflow: hidden;
    // margin-top: 15px;
	.hotauthor-content{
        div{
            padding-left: 15px;
            font-size: 12px;
            line-height: 45px;
            border-bottom:1px #f0f0f0 solid;
        }
		
		ul{
			padding: 0 15px;
			li{
                position: relative;
                border-bottom:1px #f0f0f0 solid;
                padding: 10px 0;
                overflow: hidden;
				a{  
                    overflow: hidden;
                    span:last-child{
                        width: 72%;
                    }
					span{
                        display: inline-block;
                        overflow: hidden;
                        float: left;
                        p{
                            padding-left: 15px;
                            line-height: 20px;
                            font-size: 12px;
                        }
                        p:first-child{
                            padding-top: 5px;
                            margin-right: 60px;
                            font-size: 14px;
                            display: block;
                        }
                        p:last-child{
                             color: #969696;
                             height: 24px;
                             overflow: hidden;
                             margin-top: 2px;
                             font-size: 12px;
                        }
                       
                        img{
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                            border: 1px #ddd solid; 
                        }
                    }
                    em{
                        cursor: pointer;
                        display: inline-block;
                        position: absolute;
                        top: 25px;
                        right: 0px;
                        font-style: normal;
                        color: #42c02e;
                    }
				}
			}
		}
	}
}