.wj-n{
    float: left;
    width: 15%;
    height: 1000px;
    background-color: #3f3f3f;
    color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    .home-wrap{
        padding: 30px 19px 5px 18px;
        text-align: center;
        a{
            cursor: pointer;
            padding: 9px 0;
            font-size: 15px;
            color: #ec7259;
            border: 1px solid rgba(236,114,89,0.7);
            border-radius: 20px;
            display: block;
            transition: 0.1s ease;
            -webkit-transition: 0.1s ease;
        }
    }
    .new-notebook{
        cursor: pointer;
        padding: 0 15px;
        margin-top: 20px;
        margin-bottom: 10px;
        a{
            font-size: 11px;
            font-weight: normal;
            line-height: 20px;
            color: white;
            text-decoration: none;
        }
    }
    .note-bookes{
        font-size: 15px;
        font-weight: normal;
        line-height: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0;
        margin-left: 0;
        list-style: none;
        li{
            height: 40px;
            position: relative;
            line-height: 27px;
            -webkit-transition: height 0.4s cubic-bezier(0, 0.34, 0.64, 1.37);
            -moz-transition: height 0.4s cubic-bezier(0, 0.34, 0.64, 1.37);
            -o-transition: height 0.4s cubic-bezier(0, 0.34, 0.64, 1.37);
            transition: height 0.4s cubic-bezier(0, 0.34, 0.64, 1.37);
            a{
                display: block;
                color: white;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
                position: relative;
                height: 34px;
                line-height: 2.3;
                padding: 3px 15px;
                margin-left: -15px;
                margin-right: -15px;
                text-decoration: none;
                i{
                    display: none;
                    padding: 10px;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    background: url('../../../../static/img/set-ico.png') no-repeat center;
                    background-size:40% 40%;
                }
                
            }
            .dropdown-menu{
                right: -14px;
                overflow: inherit;
                font-size: 14px;
                font-style: normal;
                margin-top: 10px;
                border-color: #d9d9d9;
                position: absolute;
                min-width: 160px;
                padding: 5px 0;
                margin: 2px 0 0;
                list-style: none;
                background:#fff;
                border-radius: 6px;
                z-index: 1000;
                li{
                    position: relative;
                    height: 30px;
                    line-height: 30px;
                    color: #333;
                    text-align: center;
                    
                }
                li.divider{
                    height: 1px;
                    margin: 9px 1px;
                    overflow: hidden;
                    background-color: #e5e5e5;
                    border-bottom: 1px solid white;
                }

            }
            .dropdown-menu:after{
                position: absolute;
                left: 130px;
                top: -9px;
                border-bottom: 9px solid white;
                content: '';
                display: inline-block;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 9px solid #FFFFFF;
                z-index: 1000;
            }
            .dropdown-menu.hide{
                display: none;
            }
            a.active{
                background-color: #646464;
                border-left: 3px solid #ec7259;
                i{
                    display: block;
                }
               
            }
            
        }
    }
    .commercial{
        cursor: pointer;
        bottom: 0;
        width: 100%;
        color: #999999;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        a{
            position: relative;
            display: inline-block;
            width: 100%;
            padding: 20px 0 30px 15px;
            color: #969696;
            background-color: #3f3f3f;
            text-align: left;
            border: none;
            border-radius: 0;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 20px;
            text-indent: 20px;
            i{
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 19px;
                left: 10px;
                background: url('../../../../static/img/del-ico.png') no-repeat center;
                background-size:100% 100%;
            }
        }
    }
    .new-wj {
            padding: 0 15px;
            margin-bottom: 10px;
            input{
                display: inline-block;
                width: 100%;
                height: 35px;
                box-sizing: border-box;
                background-color: rgba(180,180,180,0.2);
                border:1px #2f2f2f solid;
                color: #c8c8c8;
                border-radius: 4px;
                padding: 4px 6px;
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 20px;
            }
            .new-wj-btn span{
                cursor: pointer;
                background: none;
                border:1px#34ab20 solid;
                border-radius: 20px;
                color: #34ab20;
                padding: 5px 20px;
            }
            .new-wj-btn cite{
                cursor: pointer;                
                font-size: 14px;
                padding-top: 6px;
                background: none;
                border: none;
                color: #969696;
                margin-left: 15px;
            }
    }
    .new-wj.hide{
        display: none;
    }
    .poup{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #FFFFFF;
        z-index: 10400;
        .poup-wrap{
            position: fixed;
            top: 10%;
            left: 50%;
            z-index: 10500;
            width: 560px;
            margin-left: -280px;
            .poup-title{ 
                padding: 20px;
                border-bottom: 1px solid #eee;
                h3{
                    text-align: center;
                    color: #333;
                    font-size: 20px;
                 }
            }
            .poup-text{
                padding: 30px;
                text-align: center;
                input{
                    width: 220px;
                    border: 1px solid #cccccc;
                    border-radius:4px;
                    display: inline-block;
                    height: 20px;
                    padding: 4px 6px;
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #555555;
                }
            }
            .poup-btn{
                padding: 0 15px 40px;
                border: none;
                background-color: transparent;
                text-align: center;
                span{
                    padding: 5px 20px;
                    border-radius: 4px;
                    box-shadow: none;
                    color: #555555;
                    border:1px whitesmoke solid;
                    background: whitesmoke;
                    border-color: #d5d5d5;
                    text-shadow: none;
                    margin-right: 20px;
                }
                cite{
                    padding: 5px 20px;
                    border-radius: 4px;
                    box-shadow: none;
                    color: #555555;
                    border:1px #3194d0 solid;
                    background: #3194d0;
                    border-color: #3194d0;
                    text-shadow: none;
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
    }
    .poup.hide{
        display: none;
    }
}