.introduce{
    .jieshao{
        div{
            padding: 20px 0 10px 0;
            overflow: hidden;
            border-bottom: 1px solid #f0f0f0;
            span{
                float: left;
                margin-bottom: 10px;
                font-size: 14px;
                color: #969696;
            }
            em.edit-ico{
                float: right;
                font-size: 13px;
                color: #969696;
                cursor: pointer;
                position: relative;
            }
            em.edit-ico:after{
                position: absolute;
                content: '';
                top: 0px;
                left: -16px;
                width: 16px;
                height: 16px;
                background: url('../../../../static/img/edit-ico.png') no-repeat center;
                background-size:100% 100%; 
            }
            textarea{
                width: 92%;
                height: 80px;
                border: 1px #e7e5e5 solid;
                border-radius: 4px;
                padding: 10px;
                outline: none;
                font-size: 14px;
                color: #707070;
                background: #fafafa;
            }
            p{
                cursor: pointer;
                margin-top: 10px;
                cite.save{
                    border-radius:40px;
                    display: inline-block;
                    padding: 5px 20px;
                    font-size: 14px;
                    border: 1px solid rgba(59,194,29,.7);
                    color: #42c02e!important;
                }
                cite.cancel{
                    margin-left: 10px;
                    font-size: 14px;
                    color: #969696;
                    line-height: 34px;
                    vertical-align: middle;
                }
            }
        }
        ul{
            cursor: pointer;
            margin-bottom: 16px;
            padding-top: 16px;
            list-style: none;
            border-bottom: 1px solid #f0f0f0;
            li{
                margin-bottom: 10px;
                a{
                    font-size: 14px;
                    color: #333;
                    line-height: 30px;
                    .like-ico-1{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url('../../../../static/img/like-ico-1.png');
                        background-size: 95% 95%;
                        float: left;
                        margin-right: 5px;
                        margin-top: 5px;
                    }
                    .fl-ico{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url('../../../../static/img/fl-ico.png');
                        background-size: 100% 100%;
                        float: left;
                        margin-right: 5px;
                        margin-top: 5px;
                    }
                }
                
            }
        }
    }
    .zt{
        padding-bottom: 20px;
        border-bottom: 1px solid #f0f0f0;
        p:first-child{
            margin-bottom: 10px;
            font-size: 14px;
            color: #969696;
        }
        p:last-child{
            font-size: 13px;
            color: #42c02e;
        }
    }
    .wj{
        padding-top: 16px;
        .title{
            margin-bottom: 10px;
            font-size: 14px;
            color: #969696;
        }
        ul{
            margin-bottom: 16px;
            list-style: none;
            border-bottom: 1px solid #f0f0f0;
            li{
                margin-bottom: 10px;
                a{
                    position: relative;
                    max-width: 236px;
                    vertical-align: middle;
                    top: 1px;
                    font-size: 14px;
                    color: #333;
                }
            }
        }
    }
}