.wz-n{
    float: left;
    width: 25%;
    height: 1000px;
    border-right: 1px solid #d9d9d9;
    overflow-y: scroll;
    box-sizing: border-box;
    .n-note{
        a{
            display: block;
            padding: 20px 0 20px 25px;
            font-size: 15px;
            font-weight: normal;
            line-height: 20px;
            color: #555555;
            text-decoration: none;
        }
    }
    .n-notelist{
        li{
            position: relative;
            max-height: 90px;
            height: 90px;
            border-top: 1px solid #dcdcdc;
            background-color: transparent;
            line-height: 20px;
            border-left: 5px solid transparent !important;
            border-top: 1px solid #dcdcdc;
            a{
                display: block;
                padding: 15px 30px 15px 60px;
                color: #555555;
                overflow: hidden;
                .left{
                    float: left;
                    i{
                        display: inline-block;
                        width: 23px;
                        height: 23px;
                        background: url('../../../../static/img/wz-ico.png') no-repeat center;
                        background-size:100% 100%;
                        margin-top: 20px;
                        margin-left: -34px;
                        margin-right: 20px; 
                    }
                    i.no-select{
                        background: url('../../../../static/img/wzz-ico.png') no-repeat center;
                        background-size:100% 120%;
                    }

                }
                .right{
                    float: left;
                    .title{
                        font-size: 18px;
                        font-weight: normal;
                        line-height: 36px;
                    }
                    .desc{
                        width: 300px;
                        height:20px;
                        overflow: hidden;
                    }
                }
                .set-ico{
                    display: none;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 40px;
                    right: 10px;
                    background: url('../../../../static/img/set-ico.png') no-repeat center;
                    background-size:100% 100%;
                }
            }
           
        }
        .dropdown-menu{
            cursor: pointer;
            right: 0;
            top: 60px;
            overflow: inherit;
            font-size: 14px;
            font-style: normal;
            margin-top: 10px;
            border-color: #d9d9d9;
            position: absolute;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            background:#fff;
            border-radius: 6px;
            z-index: 1000;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            li{
                position: relative;
                height: 30px;
                line-height: 30px;
                color: #333;
                text-align: center;
                border-top: none;
                border-bottom:1px #DADADA solid;
                
            }
            li:last-child{
                border-bottom:none;
            }
            li.divider{
                height: 1px;
                margin: 9px 1px;
                overflow: hidden;
                background-color: #e5e5e5;
                border-bottom: 1px solid white;
            }

        }
        .dropdown-menu:after{
            position: absolute;
            left: 130px;
            top: -9px;
            border-bottom: 9px solid white;
            content: '';
            display: inline-block;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #FFFFFF;
            z-index: 1000;
        }
        .dropdown-menu.hide{
            display: none;
        }
        li.active{
            background-color: #ececec;
            color: #eeeeee;
            border-left: 5px solid #ec7259 !important;
            .set-ico{
                display: block;
            }
        }
        
    }
    .n-title-new{
        font-size: 12px;
        font-weight: normal;
        line-height: 20px;
        a{
            height: 30px;
            display: block;
            padding: 20px 0 20px 25px;
            color: #999999;
            text-decoration: none;
        }
    }
}