.like{
    overflow: hidden;
    width: 198px;
    height: 57px;
    border-radius: 54px;
    line-height: 57px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px #ea6f5a solid;
        .like-group{
            padding: 13px 0 15px;
            font-size: 0;
            border: 1px solid #ea6f5a;
            border-radius: 40px;
        }
        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            .btn-like {
                font-size: 19px;
                display: inline-block;
                a{
                    color: #ea6f5a;
                    padding: 18px 15px 18px 30px;
                    text-decoration: none;
                    i {
                        margin-right: 5px;
                        font-size: 21px;
                    }
                    .iconfont {
                        font-family: iconfont!important;
                        font-size: inherit;
                        font-style: normal;
                        font-weight: 400!important;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
            .modal-wrap {
                font-size: 18px;
                border-left: 1px solid rgba(236,97,73,.4);
                display: inline-block;
                a {
                    color: #ea6f5a;
                    padding: 18px 30px 18px 17px;
                }
            }
        
    }
}