
.box{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    .word{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 120px;
        width: 350px;
        &::after{
            content: '';
            top: 0px;
            right: -350px;
            width: 300px;
            position: absolute;
            background: url('./img/404.png') no-repeat;
            background-size: 100%;
            height: 300px;
        }
        .img{
            flex:1;
            
            border-left: 1px solid red;
        }
        .span1{
            color: rgb(79,86,95);
            font-size: 80px;
            margin-bottom: 40px;
        }
        .span2{
            font-size: 187x;
            color: rgb(130,139,152);
            margin-bottom: 55px;
        }
        a{
            width: 100px;
            height: 26px;
            background-color: rgb(79,86,95);
            color:white;
            border: none;
            font-size: 12px;
            line-height: 26px;
            text-align: center;
            
        }
    }
}

