.main{
    max-width: 960px;
    overflow: hidden;
    padding-top: 10px;
    margin: auto;
    .main-left{
        float: left;
        width: 68.5%;

    }
     .main-right{
        float: right;
        width: 29%;
    }
}