.blog-list{
	width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 75px;
    .blog-detail-title{
		line-height: 60px;
	    margin-bottom: 10px;
	    padding-left: 20px;
	    background: #fff;
	    overflow: hidden;
	    border-radius: 2px;
	    box-sizing: border-box;
	    font-size: 16px;
		font-weight: 700;
		span{
			font-size: 20px;
		}
    }
    .blog-detail-contain {
	    padding: 20px;
	    background: #fff;
	    overflow: hidden;
	    border-radius: 2px;
		border-bottom:1px #f1f1f1 solid;
	    box-sizing: border-box;
	    .blog-detail-msg {
		    overflow: hidden;
		    margin-bottom: 20px;
		   span:nth-child(1) {
				float: left;
				width: 48px;
				height: 48px;
				border-radius: 50%;
				border: 1px #ccc solid;
			}
			span:nth-child(2) {
				float: left;
				margin-left: 10px;
				p:nth-child(1){
					margin-left: 3px;
					margin-right: 3px;
					font-size: 16px;
					margin-bottom: 10px;
					vertical-align: middle;
					.gz{
						padding: 2px 10px 2px 7px;
						font-size: 12px;
						border-radius: 40px;
						color: #fff;
						background-color: #42c02e;
						margin-left: 17px;
					}
				}
				p:nth-child(2){
					font-size: 12px;
					color:#969696;
					em{
						padding-right: 5px;
					}
				}
			}
		}
		.blog-detail-p p {
		    margin-bottom: 10px;
		    line-height: 30px;
		    text-align: justify;
		    font-size: 16px;
		}
		.blog-detail-time {
		    margin-top: 1em;
		    font-size: 14px;
		    color: #8590a6;
		}
	}
	
}