.center-wrap{
    width: 935px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 105px;
   
    overflow: hidden;
    .left{
        float: left;
        width:65%;
        
    }
    .right{
        float: right;
        width:30%;
     
    }
}