.drop{
    position: absolute;
    top:57px;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(195, 195, 195, 0.15);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    background-clip: padding-box;
    ul{
        li{
            border-bottom: 1px #f0f0f0 solid;
            cursor: pointer;
           a{
            padding: 10px 20px;
            line-height: 30px;
            display: block;
            clear: both;
            font-weight: 400;
            color: #333;
            white-space: nowrap;
           }
           
        }
        li:hover{
            background: #f0f0f0;
        }
        li:last-child{
            border-bottom: none;
        }
    }
}
.drop.hide{
    display: none
}